<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post your dog!</title>
  </head>
  <body>
    <form action="/dogs" method="post">
      <p><label>Name:</label><input type="text" name="dog[name]"></p>
      <p><label>Breed:</label><input type="text" name="dog[breed]"></p>
      <p><label>Image URL:</label><input type="text" name="dog[image_url]"></p>
      <p><input type="submit"></p>
    </form>
  </body>
</html>
